In [3]:
#######
5+5

10

In [4]:
5*5

25

In [5]:
5/5

1.0

In [6]:
addition=5+5

In [7]:
addition

10

In [8]:
multiplication=5*5

In [9]:
multiplication

25

In [10]:
##### making a list
prime_numbers=[1,3,5,7,11,13,17]

In [11]:
prime_numbers

[1, 3, 5, 7, 11, 13, 17]

In [12]:
prime_numbers[1]

3

In [13]:
### python indexing begins with zero
prime_numbers[0]

1

In [15]:
prime_numbers[0:3]

[1, 3, 5]

In [16]:
prime_numbers[0:6]

[1, 3, 5, 7, 11, 13]

In [20]:
prime_numbers[:3]

[1, 3, 5]

In [21]:
prime_numbers[3:]

[7, 11, 13, 17]

In [22]:
class_list= ['Mark',"Jack","Mo","Raj","Sarah","Leo"]

NameError: name 'Mark' is not defined

In [23]:
class_list= ['Mark',"Jack","Mo","Raj","Sarah","Leo"]

In [24]:
class_list

['Mark', 'Jack', 'Mo', 'Raj', 'Sarah', 'Leo']

In [25]:
class_list[3:]

['Raj', 'Sarah', 'Leo']

In [26]:
class_list[:3]

['Mark', 'Jack', 'Mo']

In [27]:
class_list[0:3]

['Mark', 'Jack', 'Mo']

In [33]:
class_dict= {'haytham': 'male','Frank':'Male','Leila':'Female',"Sara": 'Female'}

In [34]:
class_dict

{'haytham': 'male', 'Frank': 'Male', 'Leila': 'Female', 'Sara': 'Female'}

In [35]:
### getting keys from the dictionary
class_dict.keys()

dict_keys(['haytham', 'Frank', 'Leila', 'Sara'])

In [36]:
class_dict.values()

dict_values(['male', 'Male', 'Female', 'Female'])

In [37]:
class_dict['haytham']

'male'

In [38]:
class_dict['Leila']

'Female'

In [42]:
class_dict.get('haytham')

'male'

In [43]:
import numpy as np

In [46]:
prime= np.array([1,3,5,7,9,11,13,17,19])

In [45]:
class_list=[['haytham','male'],'leila','frank']

In [47]:
prime/prime

array([1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [48]:
prime+5

array([ 6,  8, 10, 12, 14, 16, 18, 22, 24])

In [49]:
import pandas as pd

In [50]:
retail_data= pd.read_csv('online_retail2.csv')

In [51]:
retail_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [52]:
####discovery functions
retail_data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [53]:
retail_data.tail()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [54]:
###shape

retail_data.shape

(1067371, 8)

In [56]:
retail_data.describe()

           Quantity         Price    Customer ID
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

In [57]:
retail_data.Quantity.describe()

count    1.067371e+06
mean     9.938898e+00
std      1.727058e+02
min     -8.099500e+04
25%      1.000000e+00
50%      3.000000e+00
75%      1.000000e+01
max      8.099500e+04
Name: Quantity, dtype: float64

In [59]:
#Calling one column only
retail_data.Country

0          United Kingdom
1          United Kingdom
2          United Kingdom
3          United Kingdom
4          United Kingdom
                ...
1067366            France
1067367            France
1067368            France
1067369            France
1067370            France
Name: Country, Length: 1067371, dtype: object

In [60]:
retail_data.Country.value_counts()

United Kingdom          981330
EIRE                     17866
Germany                  17624
France                   14330
Netherlands               5140
Spain                     3811
Switzerland               3189
Belgium                   3123
Portugal                  2620
Australia                 1913
Channel Islands           1664
Italy                     1534
Norway                    1455
Sweden                    1364
Cyprus                    1176
Finland                   1049
Austria                    938
Denmark                    817
Unspecified                756
Greece                     663
Japan                      582
Poland                     535
USA                        535
United Arab Emirates       500
Israel                     371
Hong Kong                  364
Singapore                  346
Malta                      299
Iceland                    253
Canada                     228
Lithuania                  189
RSA                        169
Bahrain                    126
Brazil                      94
Thailand                    76
Korea                       63
European Community          61
Lebanon                     58
West Indies                 54
Bermuda                     34
Nigeria                     32
Czech Republic              30
Saudi Arabia                10
Name: Country, dtype: int64

In [61]:
retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

In [63]:
###index_location and location
first_five= retail_data.iloc[0:5,0:5]
first_five

,Invoice,StockCode,Description,Quantity,InvoiceDate
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00

In [1]:
########## loc[ rows(observations) , columns(attributes)   ]
two_columns= retail_data.loc[:,['Invoice','Quantity']]
two_columns

NameError: name 'retail_data' is not defined

In [65]:
second_subset= retail_data.iloc[[1,4,5],[1,3,6]]

In [66]:
second_subset

  StockCode  Quantity  Customer ID
1    79323P        12      13085.0
4     21232        24      13085.0
5     22064        24      13085.0

In [67]:
###to get the column names
retail_data.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [68]:
retail_data['Price_USD']= retail_data['Price']*1.2

In [69]:
retail_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Price_USD
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,8.34
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2.52
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,1.50
...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2.52
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,4.98
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,4.98
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,5.94
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,21.60

In [85]:
###conditions

haytham=32
mariam =23
frank=15
leo=12
sarah=8

In [86]:
haytham >32

False

In [87]:
haytham < 32

False

In [88]:
haytham >= 32

True

In [89]:
haytham <= 32

True

In [90]:
(haytham > 23)& (haytham <40)

True

In [91]:
(haytham >23)| (mariam > 26)

True

In [92]:
(haytham > 23)& (mariam ==23)& (leo < 15)

True

In [96]:
def status(person):
    if(person >=20):
        print('adult')
    elif (person >= 14):
       print( 'teenager')
    else :print('Child' )

In [97]:
status(haytham)

adult

In [98]:
status(mariam)

adult

In [99]:
status(leo)

Child

In [100]:
class_list=[haytham,mariam,leo,frank,sarah]

In [112]:
# first argument is the fucntion and scond argument is the list 
map_object= map(status,class_list)

In [113]:
map_object

In [114]:
status_list= list(map_object)

adult
adult
Child
teenager
Child

In [115]:
for age in class_list:
    print(age)

32
23
12
15
8

In [116]:
for i in class_list:
    print(i)

32
23
12
15
8

In [144]:
def status(person):
    if(person >=20):
        return('adult')
    elif (person >= 14):
        return( 'teenager')
    else :return('Child' )

In [146]:
for age in class_list:
    print(status(age))

adult
adult
Child
teenager
Child

In [148]:
status_list=[]
for age in class_list:
    status_list.append(status(age))
status_list

['adult', 'adult', 'Child', 'teenager', 'Child']

In [149]:
retail_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Price_USD
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,8.34
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2.52
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,1.50
...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2.52
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,4.98
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,4.98
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,5.94
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,21.60

In [152]:
def ukornot(country):
    if(country=='United Kingdom'):
        return(True)
    else: return(False)

In [153]:
ukornot('France')

False

In [154]:
ukornot('United Kingdom')

True

In [155]:
retail_data['uk']=retail_data['Country'].map(ukornot)

In [161]:
retail_data.uk.value_counts()

True     981330
False     86041
Name: uk, dtype: int64

In [162]:
retail_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Price_USD,uk,uk1
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,8.34,True,False
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True,False
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True,False
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2.52,True,False
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,1.50,True,False
...,...,...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2.52,False,False
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,4.98,False,False
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,4.98,False,False
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,5.94,False,False
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,21.60,False,False

In [166]:
### subset
first_10= retail_data.iloc[0:10,:]

In [168]:
first_10['uk1']=np.nan

<ipython-input-168-014a7ca52e8f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_10['uk1']=np.nan

In [169]:
first_10.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Price_USD,uk,uk1
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,8.34,True,NaN
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True,NaN
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True,NaN
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2.52,True,NaN
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,1.50,True,NaN

In [170]:
first_10['uk1']=np.nan
first_10.shape[0]

<ipython-input-170-a183b5a08dd4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_10['uk1']=np.nan

10

In [171]:
for i in range(0,first_10.shape[0]):
    first_10.loc[i,'uk1']=ukornot(first_10.Country[i])
first_10.head()

/Users/haythamomar/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Price_USD,uk,uk1
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,8.34,True,True
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True,True
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,8.10,True,True
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2.52,True,True
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,1.50,True,True