In [5]:
# import the libraries
import numpy as np
import pandas as pd

In [6]:
retail_data = pd.read_csv("online_retail2.csv")
retail_data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [7]:
# some information about retail data
display(retail_data.shape)
first_rows_num = retail_data.shape[0]
display(retail_data.info())
display(retail_data.describe())

(1067371, 8)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

None

           Quantity         Price    Customer ID
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

In [11]:
retail = retail_data.drop_duplicates()
display(f"The shape of the `retail` dataframe after removing the duplicates is: {retail.shape}")
second_rows_num = retail.shape[0]

# how many rows have been deleted?
display(f"Rows have been deleted are: {first_rows_num - second_rows_num} rows.")

'The shape of the `retail` dataframe after removing the duplicates is: (1033036, 8)'

'Rows have been deleted are: 34335 rows.'

In [12]:
# Check the total null values in the `description` column
retail.Description.isnull().sum()

""" 
Some times you don't want to drop the null values, 
sometimes you want to impute them or get the (mean, median or mode) as a value to fill instead of the empty values

"""

4275

In [16]:
# Check the total null values in each column of the 'retail' DataFrame
display(retail.isnull().sum())

# Check the total null values in the 'retail' DataFrame
display(retail.isnull().sum().sum())

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

0

In [17]:
# Drop the null values
retail = retail.dropna(axis=0, how='any')

display(retail.isnull().sum())

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [18]:
""" 
Conversions
"""
retail.info()
retail.Country = retail.Country.astype()

""" 
todatetime : to convert it date time data type
to_numeric : to convert it to numeric
astype method : to convert it to whatever data type you want
"""

<class 'pandas.core.frame.DataFrame'>
Int64Index: 797885 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      797885 non-null  object
 1   StockCode    797885 non-null  object
 2   Description  797885 non-null  object
 3   Quantity     797885 non-null  int64
 4   InvoiceDate  797885 non-null  object
 5   Price        797885 non-null  float64
 6   Customer ID  797885 non-null  float64
 7   Country      797885 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 54.8+ MB

In [29]:
# Guessing Game

def guess():
    
    text = " "
    
    while text != "q":
        user_guess = int(input("Enter the number between 30 and 40: "))
        number = 36
        
        if user_guess == number:
            print("Good Job!")
            text = "q"
        else:
            print("Try another guess")